
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --darker-grey: #010101;
    --basic-grey: #303030;
    --lighter-grey: #757575;
    --nav-width: 70px;
}

* {     /*select all elements*/
  font-family: Mulish;
}

/*------------------------------------*/

ul {
    text-align: justify;
    padding-left: 15px;
}

p {
  text-align: justify;
  text-indent: 1.5em;
}

header, h1, h2 {
  text-align: center;
}

a, a:hover, a:active, a:visited {
  color: #a0ceff/*#aa90e0*/;
}
