# Dependências e deploy
node_modules/
public/
src/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de build e dist (se você estiver usando um bundler como Vite, Webpack, etc.)
dist/
build/
out/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de editores de texto e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de ambiente local (se aplicável)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache
.cache/

# Arquivos de lock (lockfiles) gerados por gerenciadores de pacotes
package-lock.json
yarn.lock
pnpm-lock.yaml

# Específicos de projetos com TypeScript (se aplicável)
# *.tsbuildinfo

# Outros arquivos e pastas que você pode querer ignorar (depende do seu projeto):
# tmp/
# logs/
# coverage/ # Relatórios de cobertura de código