
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary-color: #303030;
    --primary-color-dark: #1a1a1a;    
    --text-color: white;
    --nav-width: 70px;
}
* {     /*select all elements*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

/*##########  SIDEBAR  ##########*/

nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--primary-color);
    width: var(--nav-width);
    padding: 1.5rem 0.85rem;
    color: var(--text-color);
    display: inline-block;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}
.hidden-nav {
  position: sticky;
  top: 0;
  height: 8vh;
  background-color: var(--primary-color);
  width: 100%;
  padding: 1rem 0.8rem;
  color: var(--text-color);
  display: inline-flex;
  flex-direction: row;
}
.sidebar-top {
  position: sticky;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar-top .logo {
  position: sticky;
  width: 90%;
}
.sidebar-links ul {
  list-style-type: none;
  position: relative;
  align-items: center;
  list-style-position: inside;
  padding-left: 0px;
}
.sidebar-links li a {
  padding: 0px;
  color: var(--text-color);
  width: 100%;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  height: 55px;
  text-decoration: none;
  color: #fff;
  justify-content: center;
}
.sidebar-links .active {
  width: 100%;
  text-decoration: none;
  background-color: var(--primary-color-dark);
  transition: all 350ms ease-in;
  border-radius: 10px;
}
.icon {
  display: flex;
  align-items: center;
}
.left-div {
  align-items: normal;
  width: 40px;
  height: 40px;
  margin-right: 40px;
  vertical-align: middle;
}
.left-div .logo {
  position: relative;
  width: 100%;
  vertical-align: middle;
}
.right-div {
    width: 100%;
    height: 40px;
}
.right-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;

  list-style-type: 12px;
  position: relative;
  align-items: stretch;
  list-style-position: inside;
}
.right-div li {
  display: inline-block;
  margin-right: 30px;
  height: 100%;
  padding: 5px 0px;
}
.right-div a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  height: 100%;
}
.right-div .active {
  width: 100%;
  text-decoration: none;
  background-color: var(--primary-color-dark);
  transition: all 350ms ease-in;
  border-radius: 10px;
}

/*#############    BODY   ###########*/

body {
  background-color: #1b1b1b;
}
.hidden-div {
  display: inline-block;
  vertical-align: top; 
  width: calc(100% - 0.8var(--nav-width));
  padding: 0cm 0px 0cm 0px;
  box-sizing: border-box; 
  margin-left: 1em; 
  margin-right: 1em;
  color: var(--text-color);
}
.content {
  display: inline-block;
  vertical-align: top; 
  width: calc(100% - 117px);
  padding: 0cm 3rem 0cm 3rem;
  box-sizing: border-box; 
  margin-left: 1em; 
  margin-right: 1em;
  color: var(--text-color);
}

/*#########     MISC     ###########*/

ul {
  text-align: justify;
  list-style-position: inside;
  padding-left: 13px;
}
p {
  text-align: justify;
  text-indent: 1.5em;
}
header, section, footer, h1, h2 {
  text-align: center;
  
}
a, a:hover, a:active, a:visited {
  color: #5eacfd/*#aa90e0*/;
}
.plushr {
  margin-top: 40px;
}
