    body.portugues {
      text-align: justify;
      margin: 0 auto;
      max-width: 800px; /* define a largura máxima do conteúdo */
      padding: 0 20px; /* adiciona margem interna nas laterais */
      color: white;
      background-color: #333333;
      font-family: "Times New Roman", Times, serif;
    }
    ul {
      text-align: justify;
      list-style-position: inside;
    }
    p {
      text-align: justify;
      text-indent: 1.5em;
    }
    header h1 {
      text-align: center;
      
    }
    section h2 {
      text-align: center;
    }
    a {
      color: #00ffff;
    }

    a:visited {
      color: #cc99ff;
    }

    a:hover, a:active {
      color: #ff9999;
    }
