    body {
      text-align: justify;
      margin: 0 auto;
      max-width: 800px; /* define a largura máxima do conteúdo */
      padding: 0 20px; /* adiciona margem interna nas laterais */
      color: white; /* cor do texto do corpo */
      background-color: #333333; /* cor do fundo da página */
      font-family: Arial, sans-serif;
    }
    ul {
      text-align: justify;
      list-style-position: inside;
    }
    p {
      text-align: justify;
      text-indent: 1.5em;
    }
    header h1 {
      text-align: center;
      
    }
    section h2 {
      text-align: center;
    }
    a {
      color: #5eacfd;
    }

    a:visited {
      color: #f673c3;
    }

    a:hover, a:active {
      color: #aa90e0;
    }
